[Desktop Entry]
Name=App Store
Name[ar]=متجر التطبيقات
Name[es]=Tienda de Aplicaciones
Name[de]=App Store
Name[kab]=App Store
Name[tr]=Uygulama Mağazası
Name[zh_CN]=应用商店
Comment=An app store for DDE built with DTK
Comment[ar]=متجر تطبيقات لـ DDE مبني على DTK
Comment[es]=Una tienda de aplicaciones para DDE hecha con DTK
Comment[de]=Ein App Store für DDE erstellt mit DTK
Comment[tr]=DTK ile oluşturulmuş DDE için bir uygulama mağazası
Comment[kab]= Alzuz n yisnasen i DDE s DTK
Comment[zh_CN]=一个用了 DTK 给深度桌面环境开发的应用软件商店
Icon=deepin-app-store
Exec=/usr/bin/dde-store %U
Terminal=false
Type=Application
Categories=System;PackageManager;
X-Deepin-TurboType=dtkwidget
MimeType=x-scheme-handler/appstream;
