Source: dde-store
Maintainer: dekzi <dekzidev@protonmail.com>
Section: utils
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>=9), cmake, qtbase5-dev, libdtkwidget-dev, libdtkcore-dev, libdtkgui-dev, libpackagekitqt5-dev, libappstreamqt-dev
Homepage: https://github.com/dekzi/dde-store

Package: dde-store
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DDE Store
 An app store for DDE built with DTK
